<!DOCTYPE html>
<html>
{{>head}}
<body>
    {{>navigation}}
    <p>The Scottish Pantry Network aims to connect donors with surplus food to pantries that can help distribute these resources to those in need. We believe in strengthening community ties and reducing food waste.</p>
</body>
</html>
