
<head>
<h1>The Scottish Pantry Network</h1>
<h2>{{title}}</h2>
      {{#user}}
        <p>Logged in as {{user.username}}!</p>
      {{/user}}
      {{^user}}
        <p>Welcome</p>
      {{/user}}
</head>



