
<head>
<h1>The Scottish Pantry Network</h1>
<h2>{{title}}</h2>
      {{#username}}
        <p>Logged in as {{username}}!</p>
      {{/username}}
      {{^username}}
        <p>Welcome</p>
      {{/username}}
</head>



