<!DOCTYPE html>
<html>
{{>head}}
<body>

    {{>navigation}}    
    <h1>Welcome to the Scottish Pantry Network</h1>

    <p>This platform connects people with surplus food with pantries in their local area.</p>
    
</body>
</html>
