<!DOCTYPE html>
<html>
{{>head}}
<body>

    {{>navigation}}    
    <h1>Welcome to the Scottish Pantry Network</h1>

    <p>This platform connects people with surplus food with pantries in their local area.</p>
    

      <p>Welcome, {{user}}!</p>
      <a id="logout" href="/logout" class="btn btn-primary">Sign out</a>
      <a id="addFoodItem" href="/addFoodItem" class="btn btn-primary">Add Food Item</a>
      <a href="/login">Login</a> | <a href="/register">Register</a>
      <a href="/about">About Us</a> | <a href="/contact">Contact Us</a>
</body>
</html>
