    {{#username}}
      <p>Welcome, {{username}}!</p>
      <a href="/">Home</a> | <a href="/about">About Us</a> | <a href="/contact">Contact Us</a>
      <a id="logout" href="/logout" class="btn btn-primary">Sign out</a>
      <a id="addFoodItem" href="/addFoodItem" class="btn btn-primary">Add Food Item</a>
    {{/username}}
    {{^username}}
     <a href="/">Home</a> | <a href="/login">Login</a> | <a href="/register">Register</a>
      <a href="/about">About Us</a> | <a href="/contact">Contact Us</a>
    {{/username}}
